<%= @rails_env %>:
  adapter: <%= @database['adapter'] %>
  host: <%= @host %>
  <%- if @database['port'] -%>
  port: <%= @database['port'] %>
  <%- end -%>
  database: <%= @database['database'] %>
  username: <%= @database['username'] %>
  <%- if @database['password'] -%>
  password: <%= @database['password'] %>
  <%- end -%>
  encoding: <%= @database.has_key?('encoding') ? @database['encoding'] : 'utf8' %>
  reconnect: true
